#canvas {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
  }
  
#txt-edit {
    position: absolute;
    visibility: hidden;
    background: transparent;
    border: transparent;
    color: transparent;
}